

.bg_black {
  background-color: black;
}

.container  {
  width: 100%;
  padding: 0;
  margin: 0;
}

.border-none {
  border: none;
}

.btn-oval {
  width: 100%;
  border-color: white;
  border-radius: 10px;
  margin: 3px;
}

.navbar-nav>li {
  float: none;
}

.white {
  color: white !important;
}

.vh-100 {
 height: 100vh;
}

.btn-white {
  color: black;
  background-color: white;
  border-color: white;
}

.btn-oval:hover {
 width: 110%;
 height: 110%;
}

.btn-black {
  color: white;
  background-color: transparent;
  border-color: white;
}

.navbar-nav>li>a:hover {
  color: white !important;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.blue {
  height: 1000px;
  background-color: blue;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bg-grad {
  background-image: linear-gradient(to bottom right, #29515a, #282828)
}

nav>.menu>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav>.menu>.items>a {
 text-transform: uppercase;
 color: #b3b3b3;
}

nav>.menu>.items>a:hover {
 color: white;
 text-decoration: none;
}

.menu{
  height: 50px;
  display: flex;
    align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.items{
  padding: 0 15px;
}
